{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 399, "knowledge_revision": 980, "git_revision": "", "hash": "9ffb1ecfadccd39efd331bcac63198c6", "format-version": 4, "code-base-name": "react_frontend", "filename": "ENV_EXAMPLES.md", "revision_history": [{"980": ""}]}